@font-face {
    font-family: Lexend Deca;
    src: url("https://fonts.google.com/specimen/Lexend+Deca");
}

* {
    font-family: lexend deca;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}



body {
    width: 100%;
    background-image: url("../img/background2.png");
    color: white;
    position: relative;
}

.container {
    width: 100%;
}
.logo {
    align-items: flex-start;
}
header {
    display: none;
    width: 100%;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-family: lexend deca;
    font-size: 1.4rem;
    background-color: black;
}


ul {

    display: none;
    list-style: none;
}

ul li {

    margin: 0 2em;
}

ul li a {
    text-decoration: none;
    color: white;
}
li {
    color: #ff5a00;
}

#containerMain {
    width: 100%;
    padding-top: 3em;
}

.containerContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.colorO {
    color: #ff5a00;
}

.containerContent h1, .containerContent h2 {
    margin-bottom: 20px ;
}

#containerMain img {
    max-width: 100%; 
    margin-bottom: 80px
}

#containerMain input {

    margin-top: 30px ;
    width: 500px;
    height: 30px;
    background: none;
    color: white;
    border-bottom: 1px solid #ff5a00 ;

}

#containerMain button {
    background-color: #ff5a00;
    margin-left: 5px;
    padding: 7px;
}

#containerMain button:hover {
    background-color: #bd4403 ;
}

#containerMain h1, #containerMain h2 {
    font-family:lexend deca;
}

#containerMain input::placeholder {
    font-size: 1.5em;
    color: #ff590096;
    text-align: center;
}

.containerContent:nth-child(2) {
    padding-top: 350px;
}



#containerSections {
    position: relative;
    top: 300px;
    width: 100%;
    height: 100%;
    padding: 3em 0 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 200px;

}

.containerSection {
    max-width:21%;
    min-width: 400px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 1em rgba(255, 90, 0, 3), 0 0 1em rgba(255, 90, 0, 1);
    border-radius: 2em;
    margin: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: lexend deca;
    font-size: 1.2em;
}
.containerSection h2 {
    text-decoration: line-through;
    margin: 0 0 25px 0;
}

.containerSection img {
    border-radius: 1.5em 1.5em 0 0;
    max-width:350px;
    height: 370px;
    margin: 1em 0;
}

.containerSection:hover {
    transform: scale(1.1);
}

.foot {

    border-top:1.5px solid rgb(255, 255, 255) ;
    padding-top: 15px;
    height: 50px;
    width: 100%;
    justify-content: center;
    position: relative;
    top: 250px;
    
}
.foot p {
    align-content: center;
    justify-content: center;
    display: flex;
}

.foot a {
    margin-left: 5px;
    text-decoration: none;
    color: rgb(255, 153, 0);
}

#logo {
    justify-content: center;
    align-content: center;
    align-items: center;
    display: none;
    height: 5em;
    background-color: black;
}


@media (min-width:1440px) {
    
    .container {
        padding: 0 6em;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;
    }

    .containerMain {
        display: flex;
    }

    #containerSections {
        display: flex;
        flex-direction: row;
    }

    .containerSection {
        margin: 2em 2em;
        padding: 2em;
    }

}

@media (max-width:1439px) {
    #logo {
        display: flex;
        justify-content: center;
    }
}

@media (min-width:900px) {

    .containerSection {
        padding: 5px 0px 10px 0px;
    }

}

@media (min-width:600px) {

    .containerSection {
        padding: 5px 0px 10px 0px;
    }

    
}

@media (min-width:375px) {

    html {
        align-content: center;
        justify-content: center;
    }

    body {
        align-content: center;
        justify-content: center;
    }
    .container {
        width: 100%;
    }
    .containerContent {
        font-size: 20px;
    }

    .containerSection {
        padding: 5px 0px 10px 0px;
    }


}
@media (max-width:600px) {
    .containerContent {
        font-size: 20px;
    }
    .containerContent:nth-child(2) {
        padding-top: 0;
    }
}



